# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. Julia.

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. scikit-learn

| Data Science Tools |
|--------------------|
| Anaconda           |
| Jupyter Notebook   |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
Hour = 60
Minute = 200
Minute/Hour

3.3333333333333335

**Objectives:**
* Python
* R
* Pandas
* NumPy
* scikit-learn

## Author
   Moustafa Elashwah